  /* Portrait iPhone 6+ 7+ 8+ */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
#aboutme-container{
  color: white;
  background-color: brown;
}

#aboutme-title{
  padding: 30% 0% 30% 0%;
  font-size: 36px;
}
}

/* For Web */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
#aboutme-container{
  color: white;
  background-color: brown;
}

#aboutme-title{
  padding: 30% 0% 30% 0%;
  font-size: 36px;
}
}
