#about-container{
  color: black;
  font-family: 'Poiret One', cursive;
  /* background-color: #b87333; */
  background-color: white;
}

#about-title{
  color: #D4AF37;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 45% 0% 10% 0%;
}

#about-content{
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 35px;
  padding: 0% 10% 45% 10%;
}

/* For Web */
@media (min-width: 992px) {
#about-container{
  color: black;
  font-family: 'Poiret One', cursive;
  background-color: white;
}

#about-title{
  color: #D4AF37;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 20% 0% 3% 0%;
}

#about-content{
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 35px;
  padding: 0% 20% 23% 20%;
}
}
