$font: 'Poiret One', cursive;
$title-color: #D4AF37;
$title-spacing: 2px;
$content-spacing: 2px;

#about-container{
  color: black;
  font-family: $font;
  background-color: white;
  padding: 15% 0% 10% 0%;
}

#about-title{
  color: $title-color;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: $title-spacing;
}

#about-content{
  font-size: 18px;
  letter-spacing: $content-spacing;
  line-height: 35px;
  padding: 5% 10% 0% 10%;
}

@media (min-width: 768px) {
#about-container{
  padding: 5% 0% 5% 0%;
}
}

@media (min-width: 992px) {
#about-container{
  padding: 5% 0% 5% 0%;
}

#about-title{
  font-size: 40px;
  padding: 0% 0% 3% 0%;
}

#about-content{
  font-size: 18px;
  padding: 0% 12% 0% 12%;
}
}

@media (min-width: 992px) {
#about-content{
  font-size: 18px;
  padding: 0% 18% 0% 18%;
}
}
