#connect-container{
  color: white;
  background-color: white;
}

#connect-title{
  font-size: 14px;
  font-family: 'Poiret One', cursive;
  letter-spacing: 1px;
  padding: 2% 0% 0% 0%;
}

#connect-list{
  display: flex;
  justify-content: space-around;
  padding: 0% 15% 0% 15%;
}

#connect-list img{
  height: 4rem;
}

  /* For Web */
@media (min-width: 992px) {
#connect-container{
  color: white;
  background-color: white;
  padding: 1% 0% 0% 0%;
}

#connect-title{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  letter-spacing: 1px;
  padding: 0% 0% 0% 0%;
}

#connect-list{
  display: flex;
  justify-content: space-around;
  padding: 0% 35% 0% 35%;
}

#connect-list img{
  height: 2rem;
  padding: 0% 0% 0% 0%;
}
}
