div.footer-list{
  font-family: 'Poiret One', cursive;
  background-color: #415a77;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 2%;
}

p.footer-titles{
  color: white;
  font-size: 3.5vw;
  font-weight: bold;
}

div.footer-list a{
  color: #D4AF37;
  font-size: 3vw;
}

div.footer-list p{
  color: #D4AF37;
  font-size: 3vw;
}

div.footer-list a:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

div.footer-list p:hover{
  color: white;
  text-decoration: underline;
}

@media (min-width: 576px) {
div.footer-list{
  padding-top: 2%;
}

p.footer-titles{
  font-size: 2.5vw;
}

div.footer-list a{
  font-size: 2vw;
}

div.footer-list p{
  font-size: 2vw;
}

}

@media (min-width: 992px) {
div.footer-list{
  padding-top: 1%;
}

p.footer-titles{
  font-size: 2vw;
}

div.footer-list a{
  font-size: 1.5vw;
}

div.footer-list p{
  font-size: 1.5vw;
}
}

@media (min-width: 1200px) {
p.footer-titles{
  font-size: 1.25vw;
}

div.footer-list a{
  font-size: 1vw;
}

div.footer-list p{
  font-size: 1vw;
}
}
