@media (max-width: 991px) {
#footer-grid{
  background-color: #415a77;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-size: 16px;
  font-family: 'Poiret One', cursive;
  letter-spacing: 1px;
  padding: 1% 0% 1% 0%;
}

div.footer-section{
  text-align: left;
  padding: 0% 0% 0% 0%;
}

div.footer-titles{
  color: white;
  font-weight: bold;
  line-height: 35px;
}

div.footer-list a{
  color: #D4AF37;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
}
}

  /* For Web */
@media (min-width: 992px) {
#footer-grid{
  background-color: #415a77;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 1% 0% 1% 0%;
}

div.footer-section{
}

div.footer-titles{
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
}

div.footer-list a{
  color: #D4AF37;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  padding: 0% 0% 0% 0%;
}
}
