@media (max-width: 991px) {
#header-container {
  background-color: white;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#header-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 2vw;
  letter-spacing: 2px;
  text-align: left;
}


div.header-list a{
  color: black;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 2vw;
}

a.links{
  padding-left: 20%;
}

div.header-list a:hover{
  color: #415a77;
  font-weight: 900;
  cursor: pointer;
}
}

@media (min-width: 992px) {
#header-container {
  background-color: white;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#header-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.5vw;
  letter-spacing: 2px;
  text-align: left;
}

div.header-list a{
  color: black;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.5vw;
}

a.links{
  padding-left: 20%;
}

div.header-list a:hover{
  color: #415a77;
  font-weight: 900;
  cursor: pointer;
}
}
