  /* Portrait iPhone 6+ 7+ 8+ */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
#header-container {
  font-size: 36px;
  padding: 15px;
}

#header-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 5px;
  text-align: left;
}
}

  /* For Web */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
#header-container {
  font-size: 36px;
  padding: 15px;
}

#header-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 5px;
  text-align: left;
}
}
