#header-container {
  background-color: white;
  font-size: 36px;
  padding: 2%;
}

#header-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  padding: .5%;
  text-align: left;
}

  /* For Web */
@media (min-width: 992px) {
#header-container {

}

#header-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  padding: .5%;
  text-align: left;
}
}
