#skills-container{
  background-color: white;
}

#skills-title{
  color: #D4AF37;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  padding: 35% 0% 20% 0%;
}

#skills-list{
  padding: 0% 5% 20% 5%;
}

.ui.grid>.row>.column>img, .ui.grid>.row>img {
  height: 7rem;
  width: auto;
}

.ui.grid>[class*="three column"].row>.column {
  display: flex;
  justify-content: center;
}

.ui.grid>.centered.column, .ui.grid>.row>.centered.column{
  display: flex!important;
}


/* For Web */
@media (min-width: 992px) {
#skills-container{
  text-align: center;
  background-color: white;
}

#skills-title{
  color: #D4AF37;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  padding: 10% 0% 7% 0%;
}

#skills-list{
  display: flex;
  width: 100%;
}

.ui.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0!important;
}

.ui.grid>[class*="three column"].row>.column {
  display: flex;
  justify-content: center;
}

.ui.grid>.row>.column>img, .ui.grid>.row>img {
  height: 6rem;
  width: auto;
}

.ui.grid>.centered.column, .ui.grid>.row>.centered.column{
  display: flex!important;
}
}
