#skills-component{
  display: flex;
  flex-direction: column;
  padding: 10% 0% 10% 0%;
  background-image: linear-gradient(#486484, #415a77, #486484);
}

div#skills-title-2.skills-title{
  padding-top: 10%;
}

div.skills-title{
  color: white;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 3px;
  padding: 0% 0% 0% 0%;
}

div.skills-list{
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 7% 5% 0% 5%;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
#skills-component{
  padding: 7% 0% 7% 0%;
}

div#skills-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0% 5% 0% 5%;
}

div.skills-title{
  color: white;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 0% 0% 0% 0%;
}

div#skills-title-2.skills-title{
  padding-top: 0%;
}

div.skills-list{
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 7% 0% 0% 0%;
}
}
