#skills-component{
  text-align: center;
  background-color: white;
  padding: 10%;
  font-family: helvetica;
}

div.skills-title{
  font-size: 18px;
  letter-spacing: 3px;
  padding-bottom: 3%;
}
div.skills-title.skills-title-spacing{
  padding-top: 3%;
}

div.skills-list{
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 25px;
}

@media (min-width: 576px) {
div#skills-component{
  background-color: #F8F8F8;
  padding: 5%;
  margin: 5% 10%;
}
}

@media (min-width: 768px) {
div#skills-component{
  text-align: left;
}

div.skills-title{
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 14px;
}

div.skills-list{
  font-size: 12px;
  line-height: 28px;
}

div.skills-list-spacing{
  padding-bottom: 14px;
}
}

@media (min-width: 992px) {
div.skills-title{
  font-size: 22px;
}

div.skills-list{
  font-size: 12px;
}
}

@media (min-width: 1200px) {
div#skills-component{
  padding: 40px 80px;
}
}
