#about-container {
  color: black;
  font-family: helvetica;
  background-color: white;
  padding: 10%;
  margin-top: 40px;
}

#about-title {
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 3%;
}

#about-content {
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 35px;
}

@media (min-width: 576px) {
#about-container{
  background-color: #F8F8F8;
  padding: 5%;
  margin: 5% 10%;
}

#about-title{
  font-size: 4vw;
}

#about-content{
  text-align: left;
  font-size: 2vw;
}
}

@media (min-width: 768px) {
#about-container {
}

#about-title {
  font-size: 20px;
  padding-bottom: 14px;
}

#about-content{
  font-size: 12px;
}
}

@media (min-width: 992px) {
#about-title {
  font-size: 22px;
}

#about-content{
  font-size: 12px;
}
}

@media (min-width: 1200px) {
#about-container {
  padding: 40px 80px;
}
}
