.app {
  color: black;
  text-align: center;
}

#app-container {

}

#app-greeting-container {
  background: url('../src/images/background.JPG');
  background-size: cover;
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  line-height: 40px;
  padding: 30% 5% 110% 5%;
}

#app-greeting-title {
  /* color: #D4AF37; */
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  padding-top: 0%;
  padding-bottom: 2%;
}

#app-greeting-description {
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  line-height: 25px;
  padding-top: 2%;
  padding-bottom: 10%;
}

  /* For Web */
@media (min-width: 992px) {
.app {
  background-color: white;
  text-align: center;
  color: black;
}

#app-container {

}

#app-greeting-container {
  background: url('../src/images/background.JPG');
  background-size: cover;
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  line-height: 40px;
  padding: 8% 5% 17% 5%;
}

#app-greeting-title {
  /* color: #D4AF37; */
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  padding-top: 10%;
  padding-bottom: 2%;
}

#app-greeting-description {
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  line-height: 25px;
  padding-top: 2%;
  padding-bottom: 10%;
}
}
