.app {
  text-align: center;
  color: white;
}

#app-content-container {

}

#app-content-greeting {
  font-size: 36px;
  line-height: 50px;
  padding: 50px;
}

div.app-content-project-images {
  padding: 15px;
}
