.app {
  color: white;
  text-align: center;
}

#app-container {

}

#app-greeting-container {
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  line-height: 40px;
  padding: 45% 5% 80% 5%;
}

#app-greeting-title {
  /* color: #D4AF37; */
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  padding-top: 10%;
  padding-bottom: 2%;
}

#app-greeting-description {
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  line-height: 25px;
  padding-top: 2%;
  padding-bottom: 10%;
}

  /* For Web */
@media (min-width: 992px) {
.app {
  text-align: center;
  color: white;
}

#app-container {

}

#app-greeting-container {
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  line-height: 40px;
  padding: 8% 5% 17% 5%;
}

#app-greeting-title {
  /* color: #D4AF37; */
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  padding-top: 10%;
  padding-bottom: 2%;
}

#app-greeting-description {
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  line-height: 25px;
  padding-top: 2%;
  padding-bottom: 10%;
}
}
